<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hume.mydota" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainTabActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <meta-data
                    android:name="android.support.UI_OPTIONS"
                    android:value="splitActionBarWhenNarrow" />
            </intent-filter>
        </activity>
        <activity android:name=".MainHerolist"
            android:label="herolist"></activity>
        <activity android:name=".MainItemlist"
            android:label="itemlist"></activity>
        <activity android:name=".HeroDetailActivity"
            android:label="herodetaillist"></activity>
        <activity android:name=".HeroIntroduceFragment"
            android:label="Herointroducefragment"></activity>
        <activity android:name=".HeroItemsFragment"
            android:label="heroitemfragment"></activity>
        <activity android:name=".HeroSkillFragment"
            android:label="heroskillfragment"></activity>
        <activity android:name=".ItemsDetailActivity"
            android:label="itemsdetaillist"></activity>
        <activity android:name=".HeroVideoActivity"
            android:label="herovideo"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/app_name" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<meta-data-->
                    <!--android:name="android.support.UI_OPTIONS"-->
                    <!--android:value="splitActionBarWhenNarrow" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".HeroDetailActivity"-->
            <!--android:label="@string/title_activity_hero_detail"-->
            <!--android:parentActivityName=".MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".AboutActivity"-->
            <!--android:label="@string/title_activity_about"-->
            <!--android:parentActivityName=".MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        <!--</activity>-->
    </application>

</manifest>
